<div class="achievements-inner" role="complementary">

  <div class="achievements-item drawer-item">
		<div role="listitem" class="achievements-item-open drawer-item-open" tabindex="0">
			<div class="drawer-item-title">
				<div class="drawer-item-title-inner h5">{{{model._drawer.achievementsTitle}}}</div>
			</div>
      <div class="drawer-item-description">
        <div class="drawer-item-description-inner achievements-drawer-body">{{{model._drawer.achievementsBody}}}</div>
      </div>
		</div>
	</div>
  {{#if model._certificate._isEnabled}}
	<div class="achievements-item drawer-item">
		<div role="listitem" class="achievements-item-open drawer-item-open" tabindex="0">
			<div class="drawer-item-title">
				<div class="drawer-item-title-inner h5">{{{model._drawer.certificateTitle}}}</div>
			</div>
			<div class="drawer-item-description">
				<div class="drawer-item-description-inner text-description">{{{model._drawer.certificateDisabled}}}</div>
			</div>
			<div class="drawer-certificate-toggle-inner">
				<button class="button drawer-certificate-button view-button" role="button">{{{model._drawer._buttons.view}}}</button>
			</div>
		</div>
	</div>
  {{/if}}
</div>
